/* -------------- 
  Ripple effect 
---------------*/
.ripple {
  background: var(--ext-ripple-effect-bck, rgb(0 0 0 / 15%));
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
  transform-origin: center center;
  will-change: transform, opacity;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}